*{
  font-family: 'PT Serif', serif;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}

/*------FLEX----------*/
#nav {
display: flex;
justify-content: center;
align-items: center;
background-color: #161616;
color: white;
margin: 0 auto;
}
#header {

  align-items: center;
  flex-direction: column;
}
#header p {
  margin: 0 auto;
  padding: 0 20px;
}
